[submodule "Sources/Engine"]
	path = Sources/Engine
	url = git@github.com:Cygine/Cygine.git
[submodule "Shaders"]
	path = Shaders
	url = git@github.com:Cygine/CygineShaders.git
[submodule "Sources/Vendor/json"]
	path = Sources/Vendor/json
	url = git@github.com:nlohmann/json.git
